body{
    font-family: 'Poppins';
}

section.body{
    margin-bottom: 15vh;
}

#analytic .custom-card{
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.1); 
    border:none;
    margin: 10px 0;
    width: 100%!important;
}

.custom-animate{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 2s; /* Firefox < 16 */
    -ms-animation: fadein 2s; /* Internet Explorer */
    -o-animation: fadein 2s; /* Opera < 12.1 */
    animation: fadein 2s;
}

#analytic .card-title{
    font-weight: 600;
    margin-bottom: 10px;
}

#analytic .card-subtitle{
    margin-bottom: 10px;
}

.date-bold{
    font-weight: 600;
}

#card-1{
    border-left: 5px solid cornflowerblue!important;
}

#card-2{
    border-left: 5px solid crimson!important;
}

#card-3{
    border-left: 5px solid sandybrown!important;
}

#custom-footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: #fbaa3b!important;
}

.footer-link{
    color: white;
    text-decoration: none;
}

.footer-link:hover{
    color: lightgray;
}

.text-muted{
    color: black!important;
}

.font-weight-bold{
    font-weight: 600;
}


/* ANIMATION */
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}